* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fredoka One", cursive;
  background-image: repeating-linear-gradient(
    to right,
    rgb(230, 137, 152),
    rgb(111, 111, 236)
  );
}
